//
// Styles for post
//
.card {
  margin-top: 20px;
}
@media only screen and (min-width: 993px) {
  .card {
    margin-top: 40px;
  }

  .brand-logo {
    mix-blend-mode: difference;
  }
}

h3 {
  font-size: 2rem;
}
p {
  margin-bottom: 1rem !important;
}

blockquote {
  border-left-color: rgb(0, 150, 136);
  font-family: 'Roboto Slab';
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
}

/*
 * FAB
 */
.btn-floating span {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Product Sans';
}
.btn-floating img {
  margin-top: 10px;
  width: 25px;
  line-height: 40px;
}