//
// Styles for post
//
.card {
  margin-top: 20px;
}
@media only screen and (min-width: 993px) {
  .card {
    margin-top: 40px;
  }

  .brand-logo {
    mix-blend-mode: difference;
  }
}

h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin-bottom: 1rem !important;
}

/*
 * Blockquotes
 */
blockquote {
  border-left: 4px solid $teal;
  padding-left: $spacing-unit / 2;
  font-family: 'Roboto Slab';
  white-space: nowrap;

  > :last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 425px) {
  blockquote {
    font-size: 3.5vw;
  }
}

/*
 * FAB
 */
.btn-floating span {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Product Sans';
}
.btn-floating img {
  margin-top: 10px;
  width: 25px;
  line-height: 40px;
}