//
// Styles for post
//

body {
  background-color: rgb(230, 230, 230);
}

.card {
  margin-top: 20px;
}
@media only screen and (min-width: 993px) {
  .card {
    margin-top: 40px;
  }
}

.post-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: rgb(0, 150, 136);
  flex-shrink: 0;
}

h3 {
  font-size: 2rem;
}
p {
  margin-bottom: 1rem !important;
}

/*
 * FAB
 */
.btn-floating span {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Product Sans';
}
.btn-floating img {
  margin-top: 10px;
  width: 25px;
  line-height: 40px;
}